$font: "Rubik", sans-serif;

//colors
$color__main: #333333;
$color__accent: #e5261e;
$color__accent_hover: #CC221B;
$color__white: #fff;
$color__footer_bg: #f2f2f2;
$color__footer__accent: #1f4766;
$color__form__placeholder: #828282;
